body[b-59x77c25id] {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container[b-59x77c25id] {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1[b-59x77c25id] {
    text-align: center;
    color: #ff6600;
}

label[b-59x77c25id] {
    display: block;
    margin-bottom: 5px;
}

input[type="text"][b-59x77c25id], input[type="image"][b-59x77c25id], input[type="number"][b-59x77c25id] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
}

input[type="submit"][b-59x77c25id] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover[b-59x77c25id] {
    background-color: #ff8c1a;
}
