/* _content/Game-Store.MVC/Views/Exceptions/NotFound.cshtml.rz.scp.css */
*[b-sucaakxq70] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#notfound[b-sucaakxq70] {
    position: relative;
    height: 100vh;
    background: #030005;
}

    #notfound .notfound[b-sucaakxq70] {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound[b-sucaakxq70] {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

    .notfound .notfound-404[b-sucaakxq70] {
        position: relative;
        height: 180px;
        margin-bottom: 20px;
        z-index: -1;
    }

        .notfound .notfound-404 h1[b-sucaakxq70] {
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 224px;
            font-weight: 900;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: -12px;
            color: #030005;
            text-transform: uppercase;
            text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
            letter-spacing: -20px;
        }


        .notfound .notfound-404 h2[b-sucaakxq70] {
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            left: 0;
            right: 0;
            top: 110px;
            font-size: 42px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 0px 2px 0px #8400ff;
            letter-spacing: 13px;
            margin: 0;
        }

    .notfound a[b-sucaakxq70] {
        font-family: 'Montserrat', sans-serif;
        display: inline-block;
        text-transform: uppercase;
        color: #ff005a;
        text-decoration: none;
        border: 2px solid;
        background: transparent;
        padding: 10px 40px;
        font-size: 14px;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover[b-sucaakxq70] {
            color: #8400ff;
        }

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h2[b-sucaakxq70] {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1[b-sucaakxq70] {
        font-size: 182px;
    }
}
/* _content/Game-Store.MVC/Views/NewGame/Index.cshtml.rz.scp.css */
body[b-gl8xzaokrk] {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container[b-gl8xzaokrk] {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1[b-gl8xzaokrk] {
    text-align: center;
    color: #ff6600;
}

label[b-gl8xzaokrk] {
    display: block;
    margin-bottom: 5px;
}

input[type="text"][b-gl8xzaokrk], input[type="image"][b-gl8xzaokrk], input[type="number"][b-gl8xzaokrk] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #fff;
}

input[type="submit"][b-gl8xzaokrk] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover[b-gl8xzaokrk] {
    background-color: #ff8c1a;
}
/* _content/Game-Store.MVC/Views/NewGame/SysReqCreate.cshtml.rz.scp.css */
input[b-2klbtv7doe] {
    width: 625.454546px !important;
}
/* _content/Game-Store.MVC/Views/Shared/_Layout.cshtml.rz.scp.css */
