<div class="container">
    <form>
        <div class="mb-3">
            <label for="os-input" class="form-label">OS</label>
            <input type="text" class="form-control" id="os-input">
        </div>
        <div class="mb-3">
            <label for="cpu-input" class="form-label">CPU</label>
            <input type="text" class="form-control" id="cpu-input">
        </div>
        <div class="mb-3">
            <label for="mem-input" class="form-label">Memory</label>
            <input type="text" class="form-control" id="mem-input">
        </div>
        <div class="mb-3">
            <label for="gpu-input" class="form-label">GPU</label>
            <input type="text" class="form-control" id="gpu-input">
        </div>
        <label for="gpu-input" class="form-label">DirectX?</label>
        <select class="form-select" aria-label="Default select example">
            <option selected value="DirectX9">DirectX9</option>
            <option value="DirectX9">DirectX11</option>
            <option value="DirectX12">DirectX12</option>
        </select>
        <br />
        <div class="mb-3">
            <label for="disk-sp-input" class="form-label">Disk-Space</label>
            <input type="text" class="form-control" id="disk-sp-input">
        </div>

        <div class="mb-3">
            <label for="Lang-input" class="form-label">Language-Supported</label>
            <input type="text" class="form-control" id="Lang-input">
        </div>
        <a class="btn btn-primary">Submit</a>
    </form>
</div>