<link href="~/css/SystemRequirement.css" rel="stylesheet" asp-append-version="true" />

<div class="container">

    <div class="demo-flex-spacer"></div>
    <h1 class="demo">Let's create System Requirement to your game...</h1>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="OS" required></input>
    </div>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="CPU" required></input>
    </div>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="RAM" required></input>
    </div>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="GPU"></input>
    </div>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="DirectX" required></input>
    </div>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="Disk Space" required></input>
    </div>
    <div class="demo-flex-spacer"></div>

    <div class="webflow-style-input">
        <input class="" type="text" placeholder="Languages Supported"required></input>
        <button type="submit"><i class='bx bx-arrow-to-right'></i></button>
    </div>
    <div class="demo-flex-spacer"></div>
    <div class="demo-flex-spacer"></div>
</div>



